:root {
  --color-background: #171717;
  --color-text-soft: #b0b0b0;
  --color-input-focus: #77777a;
  --color-form-background: #f6f6f6;
  --color-form-text: #171717;
  --color-form-text-soft: #4d4d4d;
  --color-input-border: #d0d0d0;
  --color-input-border-focus: #4d00c0;
  --color-input-placeholder: #b0b0b0;
  --color-input-error: #ff4d4d;
  --color-input-success: #00a542;
  --color-button-background: #101010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5em 7em;
}

.container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .multi-step-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.7em;
  background-color: var(--color-form-background);
  border-radius: 0.5em;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--color-form-text);
}

.container .multi-step-form .progress-background {
  width: 100%;
  height: 1.2em;
  border-radius: 2em;
  background-color: var(--color-input-border);
  position: relative;
  overflow: hidden;
}

.container .multi-step-form .progress-background .progress {
  width: 0%;
  height: 100%;
  background-color: var(--color-input-success);
  border-radius: 2em;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
}

.container .multi-step-form .step, .container .multi-step-form .review {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1em;
}

.multi-step-form .step .step-title {
  font-size: 1.5em;
  font-weight: 500;
}

.multi-step-form .step .step-description {
  font-size: 0.9em;
  margin-top: -0.75em;
  font-weight: 300;
  color: var(--color-form-text-soft);
}

.multi-step-form .step .controllers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1em;
}

.step .controllers .group-controller {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.step .controllers .group-controller input {
  width: 100%;
  padding: 0.45em 0.8em;
  border: 1px solid var(--color-input-border);
  border-radius: 0.5em;
  background-color: var(--color-form-background);
  color: var(--color-form-text);
  font-size: 1em;
}

.group-btns {
  margin: 1em 0 0 auto;
}

.next, .send {
  width: fit-content;
  padding: 0.5em 1.7em;
  border: 1px solid var(--color-button-background);
  border-radius: 0.5em;
  background-color: var(--color-button-background);
  color: var(--color-form-background);
  font-size: 1em;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.next:hover, .send:hover {
  filter: opacity(0.9);
}

.next:focus, .send:focus {
  outline-offset: 3px;
}

.prev {
  width: fit-content;
  padding: 0.5em 1.7em;
  border: 1px solid var(--color-input-border);
  border-radius: 0.5em;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev:hover {
  background-color: var(--color-button-background);
  color: var(--color-form-background);
}

.prev:focus {
  outline-offset: 3px;
}

.review-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.review-title {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: 0.2em;
}

.review-subtitle {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0.1em;
}

.error {
  color: var(--color-input-error);
  font-size: 0.85em;
  font-weight: 500;
  margin-top: -0.2em;
}