:root {
  --color-background: #eeeeee;
  --color-text-soft: #b0b0b0;
  --color-input-focus: #77777a;
  --color-form-background: #f6f6f6;
  --color-form-text: #171717;
  --color-form-text-soft: #4d4d4d;
  --color-input-border: #d0d0d0;
  --color-input-border-focus: #4d00c0;
  --color-input-placeholder: #b0b0b0;
  --color-input-error: #ff4d4d;
  --color-input-success: #00a542;
  --color-button-background: #101010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5em 7em;
}

.container {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
